/* CSS before, during, after */


body {
  margin:0;
}

html { 
  background-image: url('img/kurk.png');
 }


/* intro */

.intro {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 750px;
  text-align: center;
  color: #fff;
}

.intro.colour-background {
  background: #ffffff;
}
.intro.image-background {
  background: url('img/back3.png') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: hidden;
}

.no-padding-top {
  padding-top: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}

/* begin menu */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #90bece;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  font-family: 'Proza Libre', sans-serif;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
}

ul.topnav li a:hover {color: #cb092a;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    margin-left: 4px;
  }
}

/* begin content */

div#wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 15px;
  font-family: "Proza Libre";
}

/* begin afbeeldingen */

div#logo {
  float: center;
  width: 100% ;
  height: auto;
  padding-top: 75px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

#logo.logo-begin {
  max-width: 800px;
  margin: 0 auto;
}

#logo a.begin {
  width: 100%;
  float: center;
  display: inline-block;
}

#logo a.begin img {
  text-align: center;
  display: inline-block;
  float: center;
  max-width: 100%;
  height: auto;
}


div#statistieken {
  float: center;
  width: 100% ;
  height: auto;
  margin-bottom: 50px;
  text-align: left;
}

#statistieken.stat-personen {
  max-width: 800px;
  margin: 0 auto;
}

#statistieken a.persoon {
  width: 100%;
  float: left;
  display: inline-block;
}

#statistieken a.persoon img {
  text-align: left;
  display: inline-block;
  float: center;
  max-width: 90%;
  height: auto;
  padding-left: 8px;
  padding-top: 4px;
}


div#content {
  float: center;
  width: 100% ;
  height: auto;
  margin-bottom: 50px;
  text-align: center;
}

#content.content-personen {
  max-width: 800px;
  margin: 0 auto;
}

#content a.persoon {
  width: 31%;
  float: center;
  display: inline-block;
}

#content a.persoon img {
  text-align: center;
  display: inline-block;
  float: center;
  max-width: 100%;
  height: auto;

}

#content a.persoon img:hover {
    opacity: 0.5;
}

div#confess {
  float: center;
  width: 100% ;
  height: auto;
  margin-bottom: 50px;
  text-align: center;
}

#confess.confess-personen {
  max-width: 800px;
  margin: 0 auto;
}

#confess a.persoon {
  width: 31%;
  float: center;
  display: inline-block;
}

#confess a.persoon img {
  text-align: center;
  display: inline-block;
  float: center;
  max-width: 100%;
  height: auto;
  opacity: 0.5;
  margin-bottom: 0px;
}

#confess a.persoon img:hover {
    opacity: 1;
}

div#gestemd {
  float: center;
  width: 100% ;
  height: auto;
  margin-bottom: 50px;
  text-align: center;
}

#gestemd.gestemd-personen {
  max-width: 800px;
  margin: 0 auto;
}

#gestemd a.persoon {
  width: 31%;
  float: center;
  display: inline-block;
}

#gestemd a.persoon img {
  text-align: center;
  display: inline-block;
  float: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
}

div#pop {
  float: center;
  width: 100% ;
  height: auto;
  padding-top: 65px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

#pop.pop-begin {
  max-width: 800px;
  margin: 0 auto;
}

#pop a.begin {
  width: 82%;
  float: center;
  display: inline-block;
}

#pop a.begin img {
  text-align: center;
  display: inline-block;
  float: center;
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}


div#pop2 {
  float: center;
  width: 100% ;
  height: auto;
  padding-top: 35px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

#pop2.pop2-begin {
  max-width: 800px;
  margin: 0 auto;
}

#pop2 a.begin {
  width: 82%;
  float: center;
  display: inline-block;
}

#pop2 a.begin img {
  text-align: center;
  display: inline-block;
  float: center;
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

div#score {
  float: center;
  width: 100% ;
  height: auto;
  margin-bottom: 25px;
  margin-top: 10px;
  text-align: center;
}

#score.score-personen {
  max-width: 800px;
  margin: 0 auto;
}

#score a.persoon {
  width: 80%;
  float: center;
  display: inline-block;
}

#score a.persoon img {
  text-align: center;
  display: inline-block;
  float: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
}
/* begin tekst */

h1 {  
  color: #ffffff;
  border:19px 19px solid: #cb092a;
  padding: 6px;
  background-color: #cb092a;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  font-family: 'Proza Libre';
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
}

h2 { 
  color: #434547;
  border:15px 10px solid: #ffffff;
  padding: 5px;
  background-color: #ffffff;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  font-family: 'Proza Libre';
  margin-bottom: 0.2px;
  margin-left: 8px;
  margin-right: 8px;
}

h2:hover {
  color: #ffffff;
  border:10px 10px solid: #434547;
  padding: 5px;
  background-color: #434547;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  font-family: 'Proza Libre';
  margin-bottom: 0.2px;
  margin-left: 8px;
  margin-right: 8px;
}

h3 { 
  color: #434547;
  border:10px 10px solid: #ffffff;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  font-family: 'Proza Libre';
  margin-bottom: 6px;
  margin-left: 8px;
  margin-right: 8px;
}

h4 {  
  color: #434547;
  padding: 6px;
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  font-family: 'Hanalei Fill';
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

h5 {  
  color: #434547;
  border:19px 19px solid: #ffffff;
  padding: 6px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  font-family: 'Proza Libre';
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
} 
p { 
  color: #434547;
  border:10px 10px solid: #ffffff;
  padding: 6px;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  font-family: 'Proza Libre';
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
}
